.footer{
    background: black;
    color: white;
    /* text-align: center; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}